<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD94aJc93nxzPtS8-pYaWgdy4jZW-BLSNM</string>
	<key>GCM_SENDER_ID</key>
	<string>296052478452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outworkMxAdminApp</string>
	<key>PROJECT_ID</key>
	<string>outwork-f8f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>outwork-f8f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296052478452:ios:edf157f421369d319029a1</string>
	<key>DATABASE_URL</key>
	<string>https://outwork-f8f3f-default-rtdb.firebaseio.com</string>
</dict>
</plist>